# Data Sourcing with Pandas

In [1]:
# Magic commands at the top of our nb to reload external py files
%load_ext autoreload
%autoreload 2

In [2]:
# basic imports
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd

## CSV

In [3]:
# Reading a csv by passing the file name / path
tracks_df = pd.read_csv('data/spotify_2017.csv')

In [4]:
tracks_df.head(2)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.581,0.0,0.0931,0.931,95.977,233713.0,4.0
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.229,0.0,0.0924,0.813,88.931,228827.0,4.0

## API

In [5]:
import requests
# if you have your functions in external module
# you can load them into the notebook
# from music import fetch_lyrics

In [6]:
# Defined a function to call the API
# check if the response is .ok (similar to .status_code == 200)
def fetch_lyrics(artist, title):
    url = 'https://lyrics.lewagon.ai/search'
    my_params = {'artist': artist, 'title': title}
    response = requests.get(url, params = my_params)
    if response.ok:
        return response.json()['lyrics']
    return ''

In [7]:
# testing our function
fetch_lyrics('The beatles', 'come together')

'Here come old flat top\nHe come grooving up slowly\nHe got joo joo eyeball\nHe one holy roller\nHe got hair down to his knee\nGot to be a joker he just do what you please.\n\nHe wear no shoe shine\nHe got toe jam football\nHe got monkey finger\nHe shoot Coca-Cola\nHe say I know you, you know me\nOne thing I can tell you is you got to be free\nCome together right now over me\n\nHe bag production\nHe got walrus gumboot\nHe got Ono sideboard\nHe one spinal cracker\nHe got feet down below his knee\nHold you in his armchair you can feel his disease\nCome together right now over me\n\nRight!\nCome\nCome...\nCome...\nCome...\n\nHe roller coaster\nHe got early warning\nHe got Muddy Water\nHe one Mojo filter\nHe say. "One and one and one is three"\nGot to be good looking \'cause he so hard to see\nCome together right now over me\n\nOh!\nCome together\nYeah\nCome together\nYeah\nCome together\nYeah\nCome together\nYeah\nCome together\nYeah\nCome together\nYeah\nCome together\nYeah\nAhh\nCome together\nYeah\nCome together...'

In [8]:
# We add a blank column to our dataframe where we can assign the response from our function
tracks_df['lyrics'] = ""

tracks_df.head(2)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,lyrics
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.581,0.0,0.0931,0.931,95.977,233713.0,4.0,
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.229,0.0,0.0924,0.813,88.931,228827.0,4.0,

In [11]:
# We loop through the first 5 rows of our dataframe to test
for index, row in tracks_df.head(5).iterrows():
    print(f"Fetching lyrics for {row['artists']} - {row['name']}")
#     get the lyrics from the function
    lyrics = fetch_lyrics(row['artists'], row['name'])
#     use .loc to assign the reponse back to that specific row
    tracks_df.loc[index, 'lyrics'] = lyrics

Fetching lyrics for Ed Sheeran - Shape of You
Fetching lyrics for Luis Fonsi - Despacito - Remix
Fetching lyrics for Luis Fonsi - Despacito (Featuring Daddy Yankee)
Fetching lyrics for The Chainsmokers - Something Just Like This
Fetching lyrics for DJ Khaled - I'm the One

In [12]:
tracks_df.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,lyrics
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.5810,0.000000,0.0931,0.931,95.977,233713.0,4.0,The club isn't the best place to find a lover\...
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.2290,0.000000,0.0924,0.813,88.931,228827.0,4.0,
2,4aWmUDTfIPGksMNLV2rQP,Despacito (Featuring Daddy Yankee),Luis Fonsi,0.660,0.786,2.0,-4.757,1.0,0.1700,0.2090,0.000000,0.1120,0.846,177.833,228200.0,4.0,
3,6RUKPb4LETWmmr3iAEQkt,Something Just Like This,The Chainsmokers,0.617,0.635,11.0,-6.769,0.0,0.0317,0.0498,0.000014,0.1640,0.446,103.019,247160.0,4.0,I've been reading books of old\nThe legends an...
4,3DXncPQOG4VBw3QHh3S81,I'm the One,DJ Khaled,0.609,0.668,7.0,-4.284,1.0,0.0367,0.0552,0.000000,0.1670,0.811,80.924,288600.0,4.0,[DJ Khaled:]\nWe The Best Music\nAnother One!\...

## SQL

In [14]:
# for SQL on local DB we import the library and set up a connection
import sqlite3

conn = sqlite3.connect("data/soccer.sqlite")

In [15]:
# OLD WAY - setup a curser, execute the query, and fetch the results
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

In [16]:
# NEW WAY - pass our query and connection directly to pandas read_sql for instant dataframe
league_df = pd.read_sql(
    '''
    SELECT l.id, l.name, c.name as country_name
    FROM League l
    JOIN Country c ON c.id = l.country_id
    ''', conn)
league_df.head()

      id                    name country_name
0      1  Belgium Jupiler League      Belgium
1   1729  England Premier League      England
2   4769          France Ligue 1       France
3   7809   Germany 1. Bundesliga      Germany
4  10257           Italy Serie A        Italy

### Google Big Queary

In [17]:
# SQL directly on google big query
import pandas_gbq

In [18]:
# Create a project on GCP to get access
project_id = 'poetic-respect-28700' # TODO: replace with your own!

# pass the queary and project is to pandas read_gbq for instant dataframe
sql = """
SELECT faa_identifier, name, longitude, latitude, airport_type, service_city, country
FROM `bigquery-public-data.faa.us_airports`
WHERE airport_use = 'Public'
"""
airports_df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading: 100%|██████████| 5368/5368 [00:01<00:00, 5041.67rows/s]

In [19]:
airports_df.head()

,faa_identifier,name,longitude,latitude,airport_type,service_city,country
0,X01,Everglades Arpk,-81.390281,25.848866,Aerodome,Everglades,United States
1,0C8,Cushing Fld Ltd,-88.605635,41.519483,Aerodome,Newark,United States
2,7L8,Post-Air,-86.013876,39.750050,Aerodome,Indianapolis,United States
3,71K,Westport,-97.383702,37.647701,Aerodome,Wichita,United States
4,2M7,Hoffman's Black Mountain Aerodrome,-84.308061,45.531953,Aerodome,Cheboygan,United States

## Scraping

In [20]:
# Now we need bs4's beautiful soup to parse our response instead of the .json() method
import re
import requests
from bs4 import BeautifulSoup

In [21]:
url = 'https://www.imdb.com/list/ls055386972/'
response = requests.get(url)
# if we were using an API we could parse with .json()
# response.json()
# But our response is an html string, so we parse with beaufitul soups html.parser
soup = BeautifulSoup(response.content, "html.parser")

In [22]:
# Here we create an indvidual dictionary for all movies then append them into a list 
movies = []
for movie in soup.find_all("div", class_="lister-item-content"):
    title = movie.find("h3").find("a").string
    duration = int(movie.find(class_="runtime").string.strip(' min'))
    year = int(re.search(r"\d{4}", movie.find(class_="lister-item-year").string).group(0))
    movies.append({'title': title, 'duration': duration, 'year': year})
print(movies[0:5])

[{'title': 'The Godfather', 'duration': 175, 'year': 1972}, {'title': "Schindler's List", 'duration': 195, 'year': 1993}, {'title': '12 Angry Men', 'duration': 96, 'year': 1957}, {'title': 'Life Is Beautiful', 'duration': 116, 'year': 1997}, {'title': 'The Good, the Bad and the Ugly', 'duration': 148, 'year': 1966}]

In [23]:
# len = 50 dicts 
len(movies)

50

In [24]:
# and we can quickly convert to a dataframe
movies_df = pd.DataFrame(movies)
movies_df.head()

                            title  duration  year
0                   The Godfather       175  1972
1                Schindler's List       195  1993
2                    12 Angry Men        96  1957
3               Life Is Beautiful       116  1997
4  The Good, the Bad and the Ugly       148  1966

In [25]:
# SAME OPERATION but creating a dictionary of lists (each key holds a list of 50 items)
movies_dict = {'title': [], 'duration': [], 'year': []}
for movie in soup.find_all("div", class_="lister-item-content"):
    movies_dict['title'].append(movie.find("h3").find("a").string)
    movies_dict['duration'].append(int(movie.find(class_="runtime").string.strip(' min')))
    movies_dict['year'].append(int(re.search(r"\d{4}", movie.find(class_="lister-item-year").string).group(0)))
print(movies_dict['title'][0:3])
print(movies_dict.keys())

['The Godfather', "Schindler's List", '12 Angry Men']
dict_keys(['title', 'duration', 'year'])

In [26]:
# Now we use .from_dict to convert to dataframe
movies_dict_df = pd.DataFrame.from_dict(movies_dict)
movies_dict_df.head()

                            title  duration  year
0                   The Godfather       175  1972
1                Schindler's List       195  1993
2                    12 Angry Men        96  1957
3               Life Is Beautiful       116  1997
4  The Good, the Bad and the Ugly       148  1966

## Multi-page scrape

In [28]:
# We want to keep our functions specific but re-usable
# first function with fetch the entire page and turn it into a soup
def fetch_page(page):
    response = requests.get(
        "https://www.imdb.com/search/title/",
        params={"groups":"top_250", "sort":"user_rating","start": (1 + page * 50)},
        headers={"Accept-Language":"en-US"})
    soup = BeautifulSoup(response.content, "html.parser")
    return soup

In [29]:
# 2nd function will take that soup and pull out the individual movie attributes we want
def parse_movies(soup):
    movies = []
    for movie in soup.find_all("div", class_="lister-item-content"):
        title = movie.find("h3").find("a").string
        duration = int(movie.find(class_="runtime").string.strip(' min'))
        year = int(re.search(r"\d{4}", movie.find(class_="lister-item-year").string).group(0))
        movies.append({'title': title, 'duration': duration, 'year': year})
    return movies

In [30]:
# Finally our script will loop through our desired range and call each function
# using list concatenation for a single list of 250 dictionaries (.append will result in a list of 5 inner lists holding 50 movies each)
all_movies = []
for page in range(5):
    print(f"Parsing page {page + 1}...")
    soup = fetch_page(page)
    all_movies += parse_movies(soup)
print("Done")

Parsing page 1...
Parsing page 2...
Parsing page 3...
Parsing page 4...
Parsing page 5...
Done

In [31]:
len(all_movies)

250

In [33]:
# Finally converting to a 250 movie dataframe
all_movies_df = pd.DataFrame(all_movies)
all_movies_df.tail()

                            title  duration  year
245  Mr. Smith Goes to Washington       129  1939
246            Gone with the Wind       238  1939
247         It Happened One Night       105  1934
248    The Passion of Joan of Arc       114  1928
249                   The General        67  1926