# SQL

## Python Way

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("data/soccer.sqlite")

In [2]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

## Pandas

In [6]:
league_df = pd.read_sql(
    '''
    SELECT l.id, l.name, c.name as country_name
    FROM League l
    JOIN Country c ON c.id = l.country_id
    ''', conn)

In [7]:
league_df.head()

      id                    name country_name
0      1  Belgium Jupiler League      Belgium
1   1729  England Premier League      England
2   4769          France Ligue 1       France
3   7809   Germany 1. Bundesliga      Germany
4  10257           Italy Serie A        Italy

## GBP

In [8]:
import pandas_gbq

In [9]:
project_id = 'poetic-respect-287009' # TODO: replace with your own!

sql = """
SELECT faa_identifier, name, longitude, latitude, airport_type, service_city, country
FROM `bigquery-public-data.faa.us_airports`
WHERE airport_use = 'Public'
"""
airports_df = pandas_gbq.read_gbq(sql, project_id=project_id)
airports_df.head()

Downloading: 100%|██████████| 5368/5368 [00:01<00:00, 5004.65rows/s]

,faa_identifier,name,longitude,latitude,airport_type,service_city,country
0,X01,Everglades Arpk,-81.390281,25.848866,Aerodome,Everglades,United States
1,0C8,Cushing Fld Ltd,-88.605635,41.519483,Aerodome,Newark,United States
2,7L8,Post-Air,-86.013876,39.750050,Aerodome,Indianapolis,United States
3,71K,Westport,-97.383702,37.647701,Aerodome,Wichita,United States
4,2M7,Hoffman's Black Mountain Aerodrome,-84.308061,45.531953,Aerodome,Cheboygan,United States

In [10]:
airports_df.to_csv('data/airports.csv')